<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{title}}</span>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect
            mdl-button--accent mdl-button--raised" (click)="showConfirmDialog()">Show confirm dialog
            </button>
        </div>
    </header>
    <main class="mdl-layout__content">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect
            mdl-button--accent mdl-button--raised" (click)="login()">Login
        </button>
        <modal-confirm></modal-confirm>
    </main>
</div>